@charset "UTF-8";

body {
    background-color: #1C1C1C;
    text-align: center;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Playfair Display SC', serif;
}
header {
    background-color:#880000;
    color: white;
    padding: 60px;
    text-align: center;
    font-size: 30px;
    width: 97.5%;
}
#cards {
    display: flex;
    flex-direction: column;
}
#cardplacement {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
#borderbox {
    color: white;
    background-color:#880000;
    width: 400px;
    height: 500px;

}
#score {
    text-align: center;
}
p2 {
    color: white;
}

.button {
    height: 40px;
    width: 80px;
    margin-left: 50px;
    margin-right: 50px;
}
#boxes {
    display: flex;
    justify-content: flex-start;
}















